# Devcontainer Environment Variables
USER=<your_username>
UID=<your_user_id>
# Database and Security Configuration
# NOTE: These variables are not used directly by the Spring Boot application
# NOTE: They are used by the devcontainer setup to configure the PostgreSQL database
DB_HOST=db
DB_PORT=5432
DB_NAME=heapdog
DB_USER=dev
DB_PASSWORD=1234


# NOTE: Start here if you are not using Docker
# NOTE: Make sure to inject .env variables into your IDE

# Spring Boot Configuration
# NOTE: These variables are used by the Spring Boot application
DATASOURCE_URL=<your_database_url>
# Examples:
# DATASOURCE_URL=jdbc:postgresql://localhost:5432/heapdog
# DATASOURCE_URL=jdbc:mysql://localhost:3306/heapdog
# DATASOURCE_URL=jdbc:sqlserver://localhost:1433;databaseName=heapdog
# DATASOURCE_URL=jdbc:oracle:thin:@localhost:1521:xe
# DATASOURCE_URL=jdbc:h2:mem:heapdog
DATASOURCE_DRIVER=<your_database_driver>
# Examples:
# DATASOURCE_DRIVER=org.postgresql.Driver
# DATASOURCE_DRIVER=com.mysql.cj.jdbc.Driver
# DATASOURCE_DRIVER=com.microsoft.sqlserver.jdbc.SQLServerDriver
# DATASOURCE_DRIVER=oracle.jdbc.OracleDriver
# DATASOURCE_DRIVER=org.h2.Driver
DATASOURCE_USERNAME=<your_database_username>
DATASOURCE_PASSWORD=<your_database_password>
JPA_HIBERNATE_DDL_AUTO=<create-drop_or_update_or_validate_or_none>
# Examples:
# JPA_HIBERNATE_DDL_AUTO=create-drop
# JPA_HIBERNATE_DDL_AUTO=update
# JPA_HIBERNATE_DDL_AUTO=validate
# JPA_HIBERNATE_DDL_AUTO=none
JPA_SHOW_SQL=<true_or_false>
JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=<true_or_false>
JPA_DATABASE_PLATFORM=<your_hibernate_dialect>
# Examples:
# JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
# JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQLDialect
# JPA_DATABASE_PLATFORM=org.hibernate.dialect.SQLServerDialect
# JPA_DATABASE_PLATFORM=org.hibernate.dialect.OracleDialect
# JPA_DATABASE_PLATFORM=org.hibernate.dialect.H2Dialect

# Security Configuration
BCRYPT_SALT_ROUNDS=12
JWT_SECRET=<a-32-character-long-random-string>
