apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: user-service
          image: ghcr.io/heapdog/user-service-dev:latest
          imagePullPolicy: Always
