apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: gateway-service
          image: ghcr.io/heapdog/gateway-service-prod:9ffdeb316200278404add6364852ff486a6470bc
          imagePullPolicy: Always

