apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: gateway-service
          image: ghcr.io/heapdog/gateway-service-dev:latest
          imagePullPolicy: Always

