name: CI

on:
  push:
    branches:
      - dev
      - main

permissions:
  contents: write
  packages: write

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      gateway: ${{ steps.filter.outputs.gateway }}
      user: ${{ steps.filter.outputs.user }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            gateway:
              - 'services/gateway/**'
            user:
              - 'services/user-service/**'

  gateway-service:
    needs: changes
    if: needs.changes.outputs.gateway == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Environment Variables
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "ENV_NAME=prod" >> $GITHUB_ENV
            echo "IMAGE_SUFFIX=prod" >> $GITHUB_ENV
          else
            echo "ENV_NAME=dev" >> $GITHUB_ENV
            echo "IMAGE_SUFFIX=dev" >> $GITHUB_ENV
          fi
          echo "SERVICE_NAME=gateway-service" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v5
        with:
          context: services/gateway
          push: true
          tags: |
            ghcr.io/heapdog/${{ env.SERVICE_NAME }}-${{ env.IMAGE_SUFFIX }}:latest
            ghcr.io/heapdog/${{ env.SERVICE_NAME }}-${{ env.IMAGE_SUFFIX }}:${{ github.sha }}

      - name: Update Kubernetes Manifest
        run: |
          # Pull latest changes to avoid conflicts
          git pull --rebase origin ${{ github.ref_name }}
          
          FILE_PATH="k8s/services/${{ env.SERVICE_NAME }}/overlays/${{ env.ENV_NAME }}/deployment-patch.yaml"
          IMAGE_TAG="ghcr.io/heapdog/${{ env.SERVICE_NAME }}-${{ env.IMAGE_SUFFIX }}:${{ github.sha }}"
          
          # Use sed to update the image
          sed -i "s|image: .*|image: ${IMAGE_TAG}|" $FILE_PATH
          
          # Check if there are changes
          if git diff --quiet; then
            echo "No changes to commit"
          else
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git add $FILE_PATH
            git commit -m "chore(ci): bump ${{ env.SERVICE_NAME }} image to ${{ github.sha }} [skip ci]" -m "Automated commit."
            git push origin ${{ github.ref_name }}
          fi

  user-service:
    needs: changes
    if: needs.changes.outputs.user == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Environment Variables
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "ENV_NAME=prod" >> $GITHUB_ENV
            echo "IMAGE_SUFFIX=prod" >> $GITHUB_ENV
          else
            echo "ENV_NAME=dev" >> $GITHUB_ENV
            echo "IMAGE_SUFFIX=dev" >> $GITHUB_ENV
          fi
          echo "SERVICE_NAME=user-service" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v5
        with:
          context: services/user-service
          push: true
          tags: |
            ghcr.io/heapdog/${{ env.SERVICE_NAME }}-${{ env.IMAGE_SUFFIX }}:latest
            ghcr.io/heapdog/${{ env.SERVICE_NAME }}-${{ env.IMAGE_SUFFIX }}:${{ github.sha }}

      - name: Update Kubernetes Manifest
        run: |
          # Pull latest changes to avoid conflicts
          git pull --rebase origin ${{ github.ref_name }}
          
          FILE_PATH="k8s/services/${{ env.SERVICE_NAME }}/overlays/${{ env.ENV_NAME }}/deployment-patch.yaml"
          IMAGE_TAG="ghcr.io/heapdog/${{ env.SERVICE_NAME }}-${{ env.IMAGE_SUFFIX }}:${{ github.sha }}"
          
          # Use sed to update the image
          sed -i "s|image: .*|image: ${IMAGE_TAG}|" $FILE_PATH
          
          # Check if there are changes
          if git diff --quiet; then
            echo "No changes to commit"
          else
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git add $FILE_PATH
            git commit -m "chore(ci): bump ${{ env.SERVICE_NAME }} image to ${{ github.sha }} [skip ci]" -m "Automated commit."
            git push origin ${{ github.ref_name }}
          fi

